@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@stream-io/video-react-sdk/dist/css/styles.css";
@import "react-datepicker/dist/react-datepicker.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-dark-1: var(--dark-1);
  --color-dark-2: var(--dark-2);
  --color-dark-3: var(--dark-3);
  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-sky-1: var(--sky-1);
  --color-orange-1: var(--orange-1);
  --color-purple-1: var(--purple-1);
  --color-yellow-1: var(--yellow-1);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --font-inter: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --dark-1: #1C1F2E;
  --dark-2: #161925;
  --dark-3: #141722;
  --blue-1: #0E78F9;
  --blue-2: #252A41;
  --sky-1: #C9DDFF;
  --orange-1: #FF742E;
  --purple-1: #830EF9;
  --yellow-1: #F9A90E;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply text-foreground;
  }

  html {
    @apply font-inter;
  }
}

@layer components {

  /* ======== stream css overrides ======== */
  .str-video__call-stats {
    max-width: 500px;
    position: relative;
  }

  .str-video__speaker-layout__wrapper {
    max-height: 700px;
  }

  .str-video__participant-details,
  .str-video__menu-container,
  .str-video__notification {
    color: white;
  }

  .str-video__participant-list {
    background-color: var(--dark-1);
    /* Використовуємо твою змінну */
    padding: 10px;
    border-radius: 10px;
    color: white;
    height: 100%;
  }

  .str-video__call-controls__button {
    height: 40px;
  }

  /* ==== glassmorphism ===== */
  .glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  .glassmorphism2 {
    background: rgba(18, 17, 17, 0.25);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  /* ==== clerk class override ===== */
  .cl-userButtonPopoverActionButtonIcon,
  .cl-internal-wkkub3,
  .cl-userButtonPopoverActionButton {
    color: white;
  }

  .cl-logoBox {
    height: 40px;
  }

  .cl-dividerLine {
    background: #252a41;
    height: 2px;
  }

  .cl-socialButtonsIconButton {
    border: 3px solid #565761;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* Анімація для блоку */
  .show-block {
    width: 100%;
    max-width: 350px;
    display: block;
    animation: show 0.7s forwards linear;
  }
}

/* Keyframes виносимо окремо */
@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}